{% extends 'base.html.twig' %}

{% block title %}{{ 'comment.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'comment.index.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'comment.index.date'|trans }}</th>
                <th>{{ 'comment.index.text'|trans }}</th>
                <th>{{ 'comment.index.author'|trans }}</th>
                <th>{{ 'comment.index.subject'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comDateTime ? comment.comDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.comText }}</td>
                <td>{{ comment.comOwner }}</td>
                <td>{{ comment.comSubject }}</td>
                <td>

                    <a class="btn btn-primary" href="{{ path('app_comment_show', {'id': comment.id}) }}">{{ 'comment.index.showbtn'|trans }}</a>
                    <a class="btn btn-primary" href="{{ path('app_comment_edit', {'id': comment.id}) }}">{{ 'comment.index.editbtn'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'No records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
