<form method = "post">
  <div class="search-container">
     <input type="text" placeholder="Search.." name="name">
     <button type="submit" class="btn btn-lg btn-primary"> Valider</button>
  </div>
</form>


<div class = "nav-center">
  <form action="{{path('app_price')}}" method="POST" name="formulaire">
          <div class="form-group row-md-2">
            <input class="text" placeholder="Prix minimum" type="number" name = "Min" size="15">
            <input class="text" placeholder="Prix maximum" type="number" name = "Max" size="15">
          </div>
         </div>
    <button type="submit" class="btn btn-lg btn-primary"> Valider</button>
  </form>
</div>


<div class = "nav-center">
  <form action="{{path('app_followers')}}" method="POST" name="formulaire">
          <div class="form-group row-md-1">
            <input class="text" placeholder="Followers minimum" type="number" name = "min" size="15">
            <input class="text" placeholder="Followers maximum" type="number" name = "max" size="15">
          </div>
         </div>
    <button type="submit" class="btn btn-lg btn-primary"> Valider</button>
  </form>
</div>

  <form action="{{ path('app_category') }}" method="post">
    <select name="cat" id="cat" title="Catégories" >
      {% for category in cats_Name %}
        <option  value="{{ category.CatName }}">{{ category.CatName }}</option>
      {% endfor %}
    </select>
    <button  type="submit" class="btn btn-lg btn-primary"> Valider</button>
  </form>
