{% extends 'base.html.twig' %}

{% block title %}{{ 'crpt.show.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'crpt.show.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Nom'|trans }}</th>
                <td>{{ crpt.crptName }}</td>
            </tr>
            <tr>
                <th>{{ 'Symbole'|trans }}</th>
                <td>{{ crpt.crptSymbol }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix'|trans }}</th>
                <td>{{ crpt.crptPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_new', {'id': crpt.id}) }}">{{ 'crpt.show.comment'|trans }}</a>

    <a href="{{ path('app_comment_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('comment/index.html.twig') }}

{% endblock %}
