{% extends 'base.html.twig' %}

{% block title %}{{ 'user.edit.title'|trans }}{% endblock %}

{% block body %}
        <h1>{{ 'user.edit.title'|trans }}</h1>

        {{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
                <div class="row">
                        <div class="col-12">
                                {{ form_label(form.user_Pseudo) }}
                                {{ form_widget(form.user_Pseudo) }}
                        </div>
                        <div class="col-12">
                                {{ form_label(form.user_Password) }}
                                {{ form_widget(form.user_Password) }}
                        </div>
                        <div class="col-12">
                                <label for="verifpass">{{ 'user.edit.pswd2'|trans }}</label>
                                <input type="password" id="verifpass" required>
                        </div>
                </div>
                <button class="btn btn-success">{{ 'user.edit.updatebtn'|trans }}</button>
        {{ form_end(form) }}

        <a href="{{ path('app_user_index') }}">{{ 'back to list'|trans }}</a>

        {{ include('user/_delete_form.html.twig') }}
{% endblock %}
