{% extends 'base.html.twig' %}

{% block title %}{{ 'user.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.index.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'user.index.pseudo'|trans }}</th>
                <th>{{ 'user.index.mail'|trans }}</th>
                <th>{{ 'user.index.roles'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userPseudo }}</td>
                <td>{{ user.userMail }}</td>
                <td>{{ user.userRole ? user.userRole|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ 'user.index.showbtn'|trans }}</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'user.index.editbtn'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'No records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
