{% extends 'base.html.twig' %}

{% block title %}{{ user.userPseudo }}{% endblock %}

{% block body %}
    <h1>{{ user.userPseudo }}</h1>

    <table class="table-show">
        <tbody>
            <tr>
                <th>{{ 'user.show.mail'|trans }}</th>
                <td>{{ user.userMail }}</td>
            </tr>
            <tr>
                <th>{{ 'user.show.roles'|trans }}</th>
                <td>{{ user.userRole ? user.userRole|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'user.show.editbtn'|trans }}</a>

    {{ include('user/_delete_form.html.twig') }}

    {{ include('comment/index.html.twig') }}

{% endblock %}
